@font-face {
  font-family: youthTouch;
  src: url("../fonts/YouthTouchDemoRegular-4VwY.ttf");
}

main {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  grid-template-rows: 1fr 1fr 8fr;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "scoreboard"
    "colors";
}

.result {
  display: flex;
  justify-content: center;
  place-items: center;
  flex-direction: column;
}

.result p {
  font-size: 10em;
  font-family: youthTouch;
}

.result button {
  background-color: #4caf50; /* Green */
  border: none;
  border-radius: 15px;
  color: white;
  margin: 2em;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 3em;
  font-family: youthTouch;
}
