main {
  width: 100vw;
  height: 100vh;
  background-color: bisque;
  display: grid;
  grid-template-rows: 10% 15% 1fr 1fr;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas:
    "header header header header header"
    "scoreboard scoreboard scoreboard scoreboard scoreboard";
}
