@font-face {
  font-family: geraldine;
  src: url("../fonts/GeraldinePersonalUseItalic-PK12m.ttf");
}

.card {
  width: 200px;
  height: 300px;
  max-width: 200px;
  margin: 20px;
  border-radius: 20px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.card:hover {
  cursor: pointer;
}

.card p {
  margin-bottom: 20px;
  font-family: geraldine;
  font-size: 3em;
}

@media screen and (max-width: 750px) {
  .card {
    width: 100px;
    height: 150px;
  }
}
