@font-face {
  font-family: youthTouch;
  src: url("../fonts/YouthTouchDemoRegular-4VwY.ttf");
}

header {
  grid-area: header;
  font-size: 4em;
  font-family: youthTouch;
  text-align: center;
  margin: auto;
}
